

img {
width:60%;
height:50%;
text-align: center;
margin: -10px;
}

html, body {
  background: pink;
}

.riddle h1 {
  color: purple;
  font-family: "Times New Roman", serif;
}
h2 {
  font-family: cursive;
  font-weight: bold;
}

.intro {
  text-align: center;
}

.intro.p {
  font-size: 22px;
}

.riddle{
  text-align: center;
  visibility: hidden;
}

.riddle button {
  font-size: 20px;
  border-radius: 20%;
  padding: 10px;
}

.next{
  text-align: center;
  visibility: hidden;
}

.scores{
  text-align: center;
  visibility: hidden;
}
.scores p#winner {
  font-size: 30px;
  font-family: "Verdana", sans-serif;
}

#question{
  background: rgb(0, 255, 255);
  font-size: 50px;
}

.scores h1 {
  font-style: cursive;
}

/*#p2score {
  visibility: hidden;
}*/
