body {
  background: pink;
}

.intro img {
width:60%;
height:50%;
text-align: center;
margin: -10px;
}

.intro {
  text-align: center;
}

.intro p {
  font-size: 20px;
  margin: 25px;
}

.intro h2 {
  font-family: cursive;
  font-weight: bold;
  font-size: 38px
}

.riddle h1 {
  color: purple;
  font-family: "Times New Roman", serif;
}

.riddle{
  text-align: center;
  margin-top: 75px;
  visibility: hidden;
}

.riddle button {
  font-size: 20px;
  border-radius: 20%;
  padding: 10px;
}

.scores{
  text-align: center;
  visibility: hidden;
  margin-top: 80px;
}
.scores p {
  font-size: 20px;
}

.scores h1 {
  font-style: cursive;
  font-size: 50px;
}

.newGame {
font-size: 15px;
}

#riddler1{
  width: 15%;
  height: 10%;
  float: right;
}

#riddler2{
  width: 15%;
  height: 10%;
  float: left;
}

#caution {
  font-weight: bold;
  font-size: 20px;
}

#start {
  font-size: 17px;
}

#status {
  font-size: 18px;
  text-align: left;
}

#question{
  background: rgb(0, 255, 255);
  font-size: 50px;
}

#image {
  width: 400px;
  height: 300px;
  display: block;
  margin: 40px auto;
}

#winner {
  font-size: 30px;
  font-family: "Verdana", sans-serif;
}

#success {
  width: 50%;
  height: 30%;
}
